@import "./colors";
@import "./variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  max-height: 400px;
  overflow: scroll;
}

.donator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $dark;
  padding: $x2;
  border-radius: $x4;
  margin: $x2 0;
  max-width: $small;
  width: 100%;

  @media (max-width: $phone) {
    padding: $x1;
    border-radius: $x3;

    width: 90vw;
  }
}

.avatar {
  height: 30px;
  width: 30px;
  margin-right: $x1;
}

.deets {
  display: flex;
  align-items: center;
  @media (max-width: $phone) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.address {
  @media (max-width: $tablet) {
    font-size: 10px;
  }
}

.amount {
  color: $green;
  font-weight: 700;
  margin: 0 0 0 $x1;

  @media (max-width: $tablet) {
    font-size: 12px;
    margin: 0 0 0 4px;
    font-size: 10px;
  }
}
