@import "./colors";
@import "./variables";

.container {
  padding: $space-large;
  display: flex;
  justify-content: space-between;

  @media (max-width: $phone) {
    flex-direction: column;
    justify-content: center;
    padding: $space-normal;
  }
}

.headingWrapper {
  background-color: $dark;
  padding: $x1 $x4;
  border-radius: $x8;
  margin: 0;
  color: $red;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $phone) {
    margin-bottom: $x2;
    display: flex;
    justify-content: center;
  }
}

.avatar {
  height: 30px;
  width: 30px;
  margin-right: $x2;
}
