@import "./colors";
@import "./variables";

.container {
  padding: $space-large;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $space-normal;
  }
}
