@import "./colors";
@import "./variables";

.container {
  padding: $space-large;
  display: flex;
  justify-content: space-between;

  @media (max-width: $phone) {
    flex-direction: column;
    justify-content: center;
    padding: $space-normal;
  }
}

.headerItem {
  background-color: $dark;
  padding: $x2 $x4;
  border-radius: $x8;
  margin: 0;
  color: $red;

  @media (max-width: $phone) {
    margin-bottom: $x2;
    display: flex;
    justify-content: center;
  }
}
