@import "./colors";
@import "./variables";

.container {
  display: flex;
  flex-direction: column;
  min-width: $tablet;
  max-width: $small;
  margin: 0 auto;
  text-align: center;

  @media (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    min-width: unset;
    max-width: unset;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.buttonLeft {
  margin-right: $x1;
  @media (max-width: $tablet) {
    margin-right: unset;
  }
}

.buttonRight {
  margin-left: $x1;
  @media (max-width: $tablet) {
    margin-left: unset;
  }
}

.success {
  background-color: $green;
  font-weight: 700;
  padding: $x1;
  color: $extraDark;
  width: fit-content;
  margin: $x2 auto;
  border-radius: $x1;
}

.error {
  background-color: $error;
  font-weight: 700;
  padding: $x1;
  color: #fff;
  width: fit-content;
  margin: $x2 auto;
  border-radius: $x1;
}
